<p id="notice"><%= notice %></p>

<h1>Listing Evaluations</h1>

<table border=1>
  <thead>
    <tr>
			<th>Id</th>
      <th>Id book</th>
      <th>Id client</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
				<td><%= evaluation.id %></td>
        <td><%= evaluation.id_book %></td>
        <td><%= evaluation.id_client %></td>
        <td><%= evaluation.grade %></td>
        <td><%= link_to 'Show', evaluation %></td>
				<% if policy(@evaluations).index? %>
      	  <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
        	<td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if policy(@evaluations).index? || current_user.client?%>
	<%= link_to 'New Evaluation', new_evaluation_path %>
<% end %>
<%= link_to 'Back', root_path %>

