<p id="notice"><%= notice %></p>

<p>
  <strong>Id book:</strong>
  <%= @evaluation.id_book %>
</p>

<p>
  <strong>Id client:</strong>
  <%= @evaluation.id_client %>
</p>

<p>
  <strong>Text:</strong>
  <%= @evaluation.text %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @evaluation.grade %>
</p>

<br>
<%= link_to 'Back', evaluations_path %>
