<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table border=1>
  <thead>
    <tr>
      <th>Email</th>
			<th>Role</th>	
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
				<td><%= user.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', root_path %>
