<%= form_for(@copy) do |f| %>
  <% if @copy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@copy.errors.count, "error") %> prohibited this copy from being saved:</h2>

      <ul>
      <% @copy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_book %><br>
    <%= f.number_field :id_book %>
  </div>
  <div class="field">
    <%= f.label :copyStatus %><br>
    <%= f.text_field :copyStatus %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
