<p id="notice"><%= notice %></p>

<h1>Listing Copies</h1>

<table border=1>
  <thead>
    <tr>
			<th>Id</th>
      <th>Id book</th>
      <th>Copystatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @copies.each do |copy| %>
      <tr>
				<td><%= copy.id %></td>
        <td><%= copy.id_book %></td>
        <td><%= copy.copyStatus %></td>
        <td><%= link_to 'Show', copy %></td>
				<% if policy(@copies).index? %>
					<td><%= link_to 'Edit', edit_copy_path(copy) %></td>
        	<td><%= link_to 'Destroy', copy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if policy(@copies).index? %>
	<%= link_to 'New Copy', new_copy_path %>
<% end %>

<%= link_to 'Back', root_path %>
