<p id="notice"><%= notice %></p>

<p>
  <strong>Id book:</strong>
  <%= @copy.id_book %>
</p>

<p>
  <strong>Copystatus:</strong>
  <%= @copy.copyStatus %>
</p>

<br>

<%= link_to 'Back', copies_path %>
