<p id="notice"><%= notice %></p>

<h1>Listing Authors</h1>

<table border=1>
  <thead>
    <tr>
			<th>Id</th>
      <th>Name</th>
      <th>Site</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
				<td><%= author.id %></td>
        <td><%= author.name %></td>
        <td><%= author.site %></td>
        <td><%= link_to 'Show', author %></td>
				<% if policy(@authors).index? %>
	        <td><%= link_to 'Edit', edit_author_path(author) %></td>
  	      <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if policy(@authors).index? %>
	<%= link_to 'New Author', new_author_path %>
<% end %>

<%= link_to 'Back', root_path %>
