<p id="notice"><%= notice %></p>

<h1>Listing Publishers</h1>

<table border=1>
  <thead>
    <tr>
			<th>Id</th>
      <th>Name</th>
      <th>Site</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publishers.each do |publisher| %>
      <tr>
				<td><%= publisher.id %></td>
        <td><%= publisher.name %></td>
        <td><%= publisher.site %></td>
        <td><%= link_to 'Show', publisher %></td>
				<% if policy(@publishers).index? %>
	        <td><%= link_to 'Edit', edit_publisher_path(publisher) %></td>
        	<td><%= link_to 'Destroy', publisher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if policy(@publishers).index? %>
<%= link_to 'New Publisher', new_publisher_path %>
<% end %>

<%= link_to 'Back', root_path %>
