<p id="notice"><%= notice %></p>

<center>
	<br> </br>

	<h1> Main page </h1>

	<br> </br>

	<% if user_signed_in? %>
		<ul>
			<li><%= current_user.email %> </li>
			<li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
		</ul>
	<% else %>
		<ul>
			<li><%= link_to "Create new account", new_user_registration_path %></li>
			<li><%= link_to "Login", new_user_session_path %></li>
		</ul>
	<% end %>

	<br>

	<% if user_signed_in? %> 
		<ul>
			<li><%= link_to "Users", control_users_index_path %></li>
			<li><%= link_to "Amercements", amercements_path %></li>
			<li><%= link_to "Authors", authors_path %></li>
			<li><%= link_to "Books", books_path %></li>
			<li><%= link_to "Copies", copies_path %></li>
			<li><%= link_to "Evaluations", evaluations_path %></li>
			<li><%= link_to "Loans", loans_path %></li>
			<li><%= link_to "Publishers", publishers_path %></li>
		</ul>
	<% else %>
		<p> You must be logged in to use the system </p>
	<% end %>
</center>

