<p id="notice"><%= notice %></p>

<%= search_form_for @q do |f| %>
  <%= f.label :"Search book by name: " %>
  <%= f.search_field :name_cont %>
  <%= f.submit %>
<% end %>

<h1>Listing Books</h1>

<% if policy(@books).index? %>

	<table border=1>
	  <thead>
	    <tr>
				<th>Id</th>
	      <th><%= sort_link(@q, :name) %></th>
				<th>Id publisher</th>
        <th>Id author</th>
	      <th>Pages</th>
	      <th>Release year</th>
	      <th>Language</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @books.each do |book| %>
	      <tr>
					<td><%= book.id %></td>
					<td><%= book.name %></td>
					<td><center><%= book.id_publisher %></center></td>			
          <td><center><%= book.id_author %></center></td>
					<td><center><%= book.pages %></center></td>
					<td><center><%= book.releaseYear %></center></td>
					<td><center><%= book.language %></center></td>
					<td><%= link_to 'Show', book %></td>
					<td><%= link_to 'Edit', edit_book_path(book) %></td>
					<td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<br>

	<%= link_to 'New Book', new_book_path %>

<% else %>

	<table border=1>
	  <thead>
	    <tr>
				<th> Id </th>
	      <th><%= sort_link(@q, :name) %></th>
	      <th>Id publisher</th>
	      <th>Id author</th>
	      <th>Pages</th>
	      <th>Release year</th>
	      <th>Language</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @books.each do |book| %>
	      <tr>
					<td> <%= book.id %> </td>
					<td><%= book.name %></td>
					<td><center><%= book.id_publisher %></center></td>
					<td><center><%= book.id_author %></center></td>
					<td><center><%= book.pages %></center></td>
					<td><center><%= book.releaseYear %></center></td>
					<td><center><%= book.language %></center></td>
					<td><center><%= link_to 'Show', book %></center></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<br>

<% end %>

<%= link_to 'Back', root_path %>
