<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Id publisher:</strong>
  <%= @book.id_publisher %>
</p>

<p>
  <strong>Id author:</strong>
  <%= @book.id_author %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @book.synopsis %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>

<p>
  <strong>Releaseyear:</strong>
  <%= @book.releaseYear %>
</p>

<p>
  <strong>Language:</strong>
  <%= @book.language %>
</p>

<br>

<%= link_to 'Back', books_path %>

