<%= form_for(@amercement) do |f| %>
  <% if @amercement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amercement.errors.count, "error") %> prohibited this amercement from being saved:</h2>

      <ul>
      <% @amercement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_loan %><br>
    <%= f.number_field :id_loan %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
