<p id="notice"><%= notice %></p>

<h1>Listing Amercements</h1>

<table border=1>
  <thead>
    <tr>	
			<th>Id</th>
      <th>Id loan</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @amercements.each do |amercement| %>
      <tr>
				<td><%= amercement.id %></td>
        <td><%= amercement.id_loan %></td>
        <td><%= amercement.price %></td>
        <td><%= link_to 'Show', amercement %></td>
	<% if policy(@amercements).index? %>
		<td><%= link_to 'Edit', edit_amercement_path(amercement) %></td>
		<td><%= link_to 'Destroy', amercement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if policy(@amercements).index? %>
	<%= link_to 'New Amercement', new_amercement_path %>
<% end %>
<%= link_to 'Back', root_path %>
