<p id="notice"><%= notice %></p>

<p>
  <strong>Id loan:</strong>
  <%= @amercement.id_loan %>
</p>

<p>
  <strong>Price:</strong>
  <%= @amercement.price %>
</p>

<br>

<%= link_to 'Back', amercements_path %>
