<%= form_for(@loan) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_copy %><br>
    <%= f.number_field :id_copy %>
  </div>
  <div class="field">
    <%= f.label :id_client %><br>
    <%= f.number_field :id_client %>
  </div>
  <div class="field">
    <%= f.label :id_attendant %><br>
    <%= f.number_field :id_attendant %>
  </div>
  <div class="field">
    <%= f.label :startDate %><br>
    <%= f.datetime_select :startDate %>
  </div>
  <div class="field">
    <%= f.label :expectedDate %><br>
    <%= f.datetime_select :expectedDate %>
  </div>
  <div class="field">
    <%= f.label :deliveryDate %><br>
    <%= f.datetime_select :deliveryDate %>
  </div>
  <div class="field">
    <%= f.label :loanStatus %><br>
    <%= f.text_field :loanStatus %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
