<p id="notice"><%= notice %></p>

<h1>Listing Loans</h1>

<table border=1>
  <thead>
    <tr>
			<th>Id</th>
      <th>Id copy</th>
      <th>Id client</th>
      <th>Id attendant</th>
      <th>Start date</th>
      <th>Expected date</th>
      <th>Delivery date</th>
      <th>Loan status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
				<td><center><%= loan.id %></center></td>
        <td><center><%= loan.id_copy %></center></td>
        <td><center><%= loan.id_client %></center></td>
        <td><center><%= loan.id_attendant %></center></td>
        <td><center><%= loan.startDate %></center></td>
        <td><center><%= loan.expectedDate %></center></td>
        <td><center><%= loan.deliveryDate %></center></td>
        <td><center><%= loan.loanStatus %></center></td>
        <td><%= link_to 'Show', loan %></td>
				<% if policy(@loans).index? %>
	        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if policy(@loans).index? %>
	<%= link_to 'New Loan', new_loan_path %>
<% end %>

<%= link_to 'Back', root_path %>
