<p id="notice"><%= notice %></p>

<p>
  <strong>Id copy:</strong>
  <%= @loan.id_copy %>
</p>

<p>
  <strong>Id client:</strong>
  <%= @loan.id_client %>
</p>

<p>
  <strong>Id attendant:</strong>
  <%= @loan.id_attendant %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @loan.startDate %>
</p>

<p>
  <strong>Expecteddate:</strong>
  <%= @loan.expectedDate %>
</p>

<p>
  <strong>Deliverydate:</strong>
  <%= @loan.deliveryDate %>
</p>

<p>
  <strong>Loanstatus:</strong>
  <%= @loan.loanStatus %>
</p>

<br>

<%= link_to 'Back', loans_path %>
