*{
	margin:0;
	padding:0;
	background-color:FF0000
}

html, body {
	height: 2000px;
}

#topo{
	background-image: url("/assets/01.png");
	border-radius: 4px;
	width: 100%;
	height: 200px;
}
#titulos{
	background-image: url("/assets/madeira4.jpg");
	width: 100%;
	height: 50px;
	color: #FFF;
	font-weight:bold;
}
#titulos:hover{
	color: #FF0000;
	
}

#esquerda{
	position: absolute;
	background-image: url("/assets/madeira4.jpg");
	width: 200px;
	height: 100%;
	z-index:2;
	color: #FFF;
}



#corpo{
	position: relative;
	background-color: #EEE8AA;
	width: 100%;
	height: 100%;
	z-index:1;
}
