<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
	<link rel ="stylesheet" style type ="text/css" href="/assets/welcome.scss" />   
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

	<div id="topo"> </div>

	<div id="titulos" > 
		<h1><center>Welcome!</h1>
	</div>

	<div id= "corpo">
		<%= yield %>
	</div>

</body>

</html>
